---
import Badge from "./Badge.astro";
export interface Props {
	title: string
	imageURL: string
	desc: string
	badge: string[]
}
const { title, imageURL, desc, badge } = Astro.props;
---

<div class="col-span-1 text-white rounded-md overflow-hidden">
	<div class="relative">
		<div class="absolute top-2 left-2 flex flex-wrap w-full -mx-1 capitalize">
			{badge.map(title => <Badge badge={title} />)}
		</div>
		<img class="aspect-video" src={imageURL} alt={title}>
	</div>
	<div class="p-4 bg-slate-800">
		<h3 class="text-white text-sm font-medium mb-2">{title}</h3>
		<p class="text-gray-400 text-xs tracking-tight">{desc}</p>
	</div>
</div>

